// main: ./../main.less

.thrive{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto;
    background-color: #62D0DF;

    &__content{
        
        .flexColumn();
        .flex();
    }

    &__wrap{
        .flexColumn();
    }

    &__title{
        font-size: 36px;
        color: #fff;
        // margin: 150px 0 0 180px;
    }

    &__text{
        max-width: 555px;
        font-size: 24px;
        line-height: 35px;
        // margin-left: 180px;
        color: #FFFFFF;
    }

    &__img{
        max-width: 555px;
        grid-area: 1/2/2/3;
        
    }

}
