// main: ./main.less



.services{
    display: grid;
    grid-template-rows: 480px 480px 22px 1fr 1fr 40px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1400px){
        grid-template-rows: 400px 400px 22px 1fr 1fr 40px;
    }
    @media (max-width: 1200px){
        grid-template-rows: repeat(6, 300px) 40px;
        grid-template-columns: 40% 40%;
        justify-content: center;
    }
    @media (max-width: 992px){
        grid-template-rows: repeat(6, 260px) ;
    }
    @media (max-width: 768px){
        grid-template-rows: repeat(6, 200px);
    }
    @media (max-width: 576px){
        grid-template-rows: repeat(6, 160px);
        grid-template-columns: 48% 48%;
    }
       

    &__physical{
        background-color: #22356F;
    }
    &__mental{
        background-color: #0052C1;
    }
    &__nytrion{
        background-image: url(".././img/cardImg.svg");
        background-repeat:no-repeat;
        background-size:cover;
    }
    &__gumnastic{
        background-color: #62D0DF;
    }
    &__crossfit{
        background-color: #DEE1FF;
    }
    &__aerobics{
        background-color: #8F00FF;
    }

    &__card{
        .flexColumn();
        .flex(flex-start, center);
        
    }
    &__title{
        margin: 55px 140px 0 105px;
        font-size: 28px;
        color: #22356F;
        @media (max-width: 992px){
            margin: 20px 0 0 0;
            font-size: 20px;
        }
        @media (max-width: 576px){
            font-size: 16px;
        }
    }
    &__text{
        max-width: 300px;
        margin: 28px 77px 37px 105px;
        line-height: 25px;
        @media (max-width: 992px){
            margin: 20px 0 0 0;
            line-height: 20px;
            max-width: 290px;
        }
        @media (max-width: 576px){
            font-size: 13px;
            line-height: 18px;
        }
    }

    &__span{
        font-size: 32px;    
        color: #fff;
        position: relative;
        display: block;
        width: 310px;
        font-weight: 900;
        border-top: 2px solid #fff ;
        padding-top: 35px;
        margin-top: 55px;
        &::after{
            content: " ";
            position: absolute;
            background-image: url(".././img/Ellipse.svg");
            background-repeat: no-repeat;
            background-size: 100%;
            width: 13px;
            height: 13px;
            top: 45px;
            left: -30px;
            @media (max-width: 992px){
                width: 8px;
                height: 8px;
                left: -0px;
                top: 40px;
            }
            @media (max-width: 992px){
                top: 25px;
                left: 5px;
            }
        }
        @media (max-width: 992px){
            width: 240px;
            font-size: 20px;
            padding-left: 25px;
        }
        @media (max-width: 768px){
            width: 195px;
            padding-top: 20px;
            margin-top: 40px;
        }
        @media (max-width: 576px){
            width: 125px;
            font-size: 16px;
        }

    }


    &__plans{
        grid-area: 4/1/5/2;
        @media (max-width: 1200px){
            grid-area: 4/1/5/2;
        }
        @media (max-width: 992px){
            grid-area: 4/1/5/2;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
    &__loss{
        grid-area: 4/2/5/3;
        @media (max-width: 1200px){
            grid-area: 4/2/5/3;
        }
        @media (max-width: 992px){
            grid-area: 4/2/5/3;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
    &__peace{
        grid-area: 4/3/5/4;
        @media (max-width: 1200px){
            grid-area: 5/1/6/2;
        }
        @media (max-width: 992px){
            grid-area: 5/1/6/2;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
    &__training{
        grid-area: 5/1/6/2;
        @media (max-width: 1200px){
            grid-area: 6/1/7/2;
        }
        @media (max-width: 992px){
            grid-area: 6/1/7/2;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
    &__work{
        grid-area: 5/2/6/3;
        @media (max-width: 1200px){
            grid-area: 5/2/6/3;
        }
        @media (max-width: 992px){
            grid-area: 5/2/6/3;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
    &__cardio{
        grid-area: 5/3/6/4;
        @media (max-width: 1200px){
            grid-area: 6/2/7/3;
        }
        @media (max-width: 992px){
            grid-area: 6/2/7/3;
        }
        @media (max-width: 768px){
            margin: 0 10px;
        }
    }
  
}




